<p id="notice"><%= notice %></p>
<h1>Feed details</h1>
<h5>Feed details for <b><u><%= @feed.name %></b></u></h5>

<br /><br />

<table class="table-striped table-hover" width='50%'>
  <tr>
      <td><strong>Name:</strong></td>
      <td><%= @feed.name %></td>
  </tr>
  <tr>
      <td><strong>URL:</strong></td>
      <td><%= @feed.url %></td>
  </tr>
  <tr>
      <td><strong>Description:</strong></td>
      <td><%= @feed.description %></td>
</table>

<br /><br />

<%= link_to 'Edit', edit_feed_path(@feed), :class => 'btn btn-outline-warning' %> |
<%= link_to 'Destroy', @feed, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger' %> |
<%= link_to 'Back', feeds_path, :class => 'btn btn-outline-primary' %>
