<script>
$('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>

<%= form_for([@location, @employee]) do |f| %>
  <% if @employee.errors.any? %>
  <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
          <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
      </ul>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.collection_select(:location,@locations,:id,:address)%>
  </div>
  <div class="field">
    <%= f.label :employee_type %><br>
    <%= f.select :employee_type, options_for_select([["Select one", ""], "Head Manager", "Assistant Manager", "Staff", "Temp"]), :class => 'genForm_dropBox' %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :started_on %><br><br>
    <%= f.date_field :started_on, :id => 'datepicker', :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :left_on %><br>
    <%= f.date_field :left_on, :id => 'datepicker', :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br>
    <%= f.text_field :address2, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :personal_phone %><br>
    <%= f.text_field :personal_phone, :class => 'form-control' %>
  </div>
    <div class="field">
    <%= f.label :office_phone %><br>
    <%= f.text_field :office_phone, :class => 'form-control' %>
  </div>
  <div class="actions">
  <%= f.submit 'Submit', :class => 'btn btn-outline-success'%>
  </div>
<% end %>
<hr />