<div class="container">
  <hr />
  
  <h3>Add comment</h3>
  <%= form_for([@location, @location.comments.build]) do |f| %>
    <p>
      <%= f.label :username, 'Name' %><br>
      <%= f.text_field :username, value: "#{@user.first_name} #{@user.last_name}", :class => 'form-control' %>
    </p>
    <p>
      <%= f.label :body, 'Comment' %><br>
      <%= f.text_field :body, :class => 'form-control' %>
    </p>
    <p>
      <%= f.submit({:class => 'btn btn-outline-success'}) %>
    </p>
  <% end %>
</div>