
<p id="notice"><%= notice %></p>
<h1>Order details</h1>
<h5>Orders for <b><u><%= @customer.first_name %> <%= @customer.last_name %></b></u></h5>

<br /><br />

<table class="table-striped table-hover" width='50%'>
  <tr>
    <td><strong>Customer name:</strong></td>
     <td><%= @order.customer.first_name %> <%= @order.customer.last_name %> </td>
  <tr>
    <tr>
    <td><strong>Product:</strong></td>
     <td><%= @order.product.product_name %> </td>
  <tr>
      <td><strong>Order date:</strong></td>
      <td><%= @order.order_date %></td>
  </tr>
  <tr>
      <td><strong>Due on:</strong></td>
      <td><%= @order.due_on %></td>
  </tr>
  <tr>
      <td><strong>Shipped on:</strong>
      <td><%= @order.shipped_on %></td>
  </tr>
  <tr>
      <td><strong>Status:</strong>
      <td><%= @order.status %></td>
  </tr>
  <tr>
      <td><strong>Comments:</strong>
      <td><%= @order.comments %></td>
  </tr>
</table>

<br /><br />

<%= link_to 'Edit', edit_location_employee_customer_order_path(@location, @employee, @customer, @order), :class => 'btn btn-outline-warning' %> |
<%= link_to 'Back', location_employee_customer_orders_path(@location, @employee, @customer), :class => 'btn btn-outline-primary' %> |
<%= link_to 'Destroy', location_employee_customer_order_path, method: :delete, data: { confirm: 'Only admins can delete. Continue?' }, :class => 'btn btn-outline-danger' %>