<p id="notice"><%= notice %></p>
<h1>Location details</h1>
<h5>Location details for <b><u><%= @location.address %></b></u></h5>

<br /><br />

<table class="table-striped table-hover" width='50%'>
  <tr>
    <td><strong>Location type:</strong></td>
    <td><%= @location.location_type %></td>
  </tr>
  <tr>
      <td><strong>Address:</strong></td>
      
      <td><%= link_to @location.address, "https://www.google.com/maps/search/?api=1&query=#{@location.address.parameterize('+')}", :title => "Open #{@location.address} in Google Maps", :style => 'color: #3366BB; text-decoration: underline;' %></td>
  </tr>
  <tr>
      <td><strong>Address2:</strong></td>
      <td><%= @location.address2 %></td>
  </tr>
  <tr>
      <td><strong>City:</strong></td>
      <td><%= @location.city %></td>
  </tr>
  <tr>
      <td><strong>Postal code:</strong></td>
      <td><%= @location.postal_code %></td>
  </tr>
  <tr>
      <td><strong>Country:</strong></td>
      <td><%= @location.country %></td>
  </tr>
  <tr>
      <td><strong>Reception phone:</strong>
      <td><%= link_to @location.reception_phone, "tel:#{@location.reception_phone}", :title => "Call #{@location.reception_phone}", :style => 'color: #3366BB; text-decoration: underline;' %></td>
  </tr>
</table>

<br /><br />



<%= link_to 'Edit', edit_location_path(@location), :class => 'btn btn-outline-warning' %> |
<%= link_to 'Destroy', @location, method: :delete, data: { confirm: 'Only admins can delete. Continue?' }, :class => 'btn btn-outline-danger' %> |
<%= link_to 'Back', locations_path, :class => 'btn btn-outline-primary' %> ||
<%= link_to 'Show Departments', location_departments_path(@location), :class => 'btn btn-outline-success' %> |
<%= link_to 'Show Employees', location_employees_path(@location), :class => 'btn btn-outline-success' %>

